body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  /* background-position: center center; */
  background-repeat: no-repeat;
  color: white;
}
#clock {
  margin: auto;
  padding: 15px;
}
.hidden {
  display: none;
}
